In [1]:
# Question 1

a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()
b()
b()
a

6

6 is displayed when the last expression (a) is evaluated.
When b() is executed first time, a = 2 as function c(a) is called and it returns a+2= 0+2 = 2.
Wheb b() is executed second time, a = 4 as the value of a is global and it holds the value it received from first b().
Likewise, when b() is executed third time, a = 6.

In [43]:
# Question 2

def file_length(f):                                          
    try:                                                    
        file = open(f, "r")                                     
        contents=file.read()                                               
        print('The length of the file is : '+ str(len(contents)))         
        file.close()                                                   
    except:                                                           
        print('File '+f+' not found.')

In [44]:
file_length('intro.ipynb')

The length of the file is : 628

In [42]:
file_length('idterm.py')

File idterm.py not found.

In [38]:
# Question 3

class Marsupial(object):                     
  
    def __init__(self):                               
        self.mylist = []                     
    def put_in_pouch(self, item):             
        self.mylist.append(item)
    def pouch_contents(self):                
        return self.mylist

In [8]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [9]:
class Kangaroo(Marsupial):                      
    
    def __init__(self,x,y):                                     
        Marsupial.__init__(self)                 
        self.x = x                                
        self.y = y
                                  
    def jump(self,dx,dy):                         
        self.x = self.x + dx
        self.y = self.y + dy
        
    def __str__(self):                           
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [10]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [11]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [12]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [13]:
# Question 4

def collatz(x):                   
   
    if x != 1:                   
        if x%2!=0:                
            print(int(x))         
            collatz(3*x+1)       
        
        else:
            print(int(x))         
            collatz(x/2)          
  
    else:
        print(int(x));

In [14]:
collatz(1)

1

In [15]:
collatz(10)

10
5
16
8
4
2
1

In [16]:
# Question 5

def binary(decimal):
    
    if decimal>0:                           
        return (decimal % 2 + 10*binary(int(decimal // 2)))
       
    else:
         return 0

In [17]:
binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

In [21]:
# Question 6

from html.parser import HTMLParser                               
class HeadingParser(HTMLParser):                      
    def __init__(self):                                                 
        HTMLParser.__init__(self)                           
        self.head =0                                                          
        self.intend = ""
    def handle_starttag(self, tag, attrs):              
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):                             
        if self.head=="type":
            print(self.intend+ data)                         
            self.intend+= ""
            self.head=0

In [22]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
Principles

In [23]:
# Question 7

from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class collector(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.links = []


    def append(self):
        
        return self.links


    def handle_starttag(self, url_tag, attributes):
        for i in attributes:
            mylinks = urljoin(self.url, a[1])
            if mylinks[:4] == 'http': 
                self.url_links.append(mylinks)
                i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = urlcollector(url)
    collection.feed(objective)
    urls = collection.append() 
 
    links = urls
    i= i + 4


    for link in links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)

In [24]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html

NameError: name 'urlcollector' is not defined

In [49]:
# Question 8 

import sqlite3
con = sqlite3.connect('database')
cur = con.cursor()
cur.execute("CREATE TABLE database (City text, Country text, Season text, Temperature dec, Rainfall dec)")
cur.execute("INSERT INTO database VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO database VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO database VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO database VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO database VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO database VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO database VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO database VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO database VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO database VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO database VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO database VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")
con.commit()
con.close()

OperationalError: table database already exists

In [50]:
import sqlite3
con = sqlite3.connect('database')
cur = con.cursor()
cur.execute('SELECT Temperature FROM database ')
for record in cur:
    print(record)
cur.execute('SELECT DISTINCT City FROM database ')
for record in cur:
    print(record)
cur.execute('SELECT * FROM database  where Season="Fall"')
for record in cur:
    print(record)
cur.execute('SELECT * FROM database  where Country="India"')
for record in cur:
    print(record)
cur.execute('SELECT City,Country FROM database  where (Season ="Fall") AND (temperature>20) ORDER BY Temperature DESC')
for record in cur:
    print(record)
cur.execute('SELECT City,Country,Season FROM database  where (rainfall>200) AND (rainfall<400)')
for record in cur:
    print(record)
cur.execute('SELECT SUM(Rainfall) FROM database  where City="Cairo"')
Annual_rainfall=cur.fetchall()
print(Annual_rainfall)
cur.execute('SELECT SUM(Rainfall),Season FROM database  GROUP BY Season')
for record in cur:
    print(record)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)
('Mumbai',)
('London',)
('Cairo',)
('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)
('Mumbai', 'India')
('Cairo', 'Egypt')
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
[(27.6,)]
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

In [26]:
# Question 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[a.upper() for a in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [27]:
[a.lower() for a in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [28]:
[len(a) for a in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [29]:
[[a.upper(), a.lower(), len(a)] for a in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [30]:
[a for a in words if len(a)>= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']